.item, .selected {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
    background-color: #2d2d30;
    border-radius: 7px;
    padding: 10px;
    height: 26px;
}

.item:hover {
    cursor: pointer;
    background-color: #3e3e42;
}

.selected {
    background-color: #3e3e42;
}

.description {
    display: flex;
    width: 80%;
    color: #fff;
}

.options {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}